In [1]:
import pandas as pd

In [3]:
country_df = pd.read_csv('../data/database_csv/country.csv')

In [4]:
country_df

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland